<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<h4>
The platform will generally work as so:
</h4>
<p>
The patient’s family is requested to visit an online website where they securely upload a picture of themselves, a brief biography of a maximum of 140 characters and their relationship with the patient.
</p>
<p>
When the healthcare provider walks into the room the platform will audibly inform the healthcare provider to wash their hands, which will lead to a positive mental response from the patient and their family.
</p>
<p>
Once the healthcare provider approaches the hand washing station it is generally understood by the patient and their family that the healthcare provider will typically take about one minute to wash and dry their hands. This gives the healthcare provider ample time to understand the personal relationships to the patient that are in the room at any specific time.
</p>
<p>
When the healthcare provider approaches the hand washing station, a monitor will be present with a sensor reader on it where the online platform will automatically link the website to the healthcare provider with their respective RFID badge, so the healthcare provider can look at the the relationships of each member of the patient’s family in the room, as well as a brief biography of each person, for cases where the healthcare provider wishes to get a deeper personal understanding of a specific family member of the patient. 
</p>
<p>
This distinction of each family member’s relationship to the patient will help the healthcare providers make proper judgements on who the decision maker is if the patient is not capable of communicating.
</p>
<p>
From the perspective of the family, the healthcare provider information will always be present at the same monitor at the hand washing station, so that the family members in the ICU at any specific time will be able to know the face and name of each respective healthcare provider that is affiliated with the patient at the time the family member is at the ICU.
</p>
<p>
This product will help to improve the overall healthcare process since it is making it easier for the healthcare provider to show care towards the patient by making the relationships more personal. Thus this will help to increase the communication and make the patient and their family more satisfied, which would lead to a patient recovering more quickly. 
</p>
