<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li class="divider"></li>
<li><%= link_to 'Physicians', physicians_path %></li>
<li class="divider"></li>
<li><%= link_to 'Patients', patients_path %></li>
<li class="divider"></li>